<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs') %>
<body>
    <%- include('./../partials/nav.ejs') %>
    <div class="details content">
        <h1><%= message.sender_id.name %></h1>
        <div class="content">
            <h3><strong>Send to: </strong><%= message.receiver_id.name %></h3>
            <p><strong>Sender Email: </strong><%= message.receiver_id.email %></p>
            <p><strong>Message: </strong><%= message.message_content %></p>
            <p><strong>Sent At: </strong><%= message.sent_at %></p>
        </div>
        <a data-doc="<%= message._id %>" class="delete">
            <img src="/trashcan.svg" alt="">
        </a>
    </div>
    <%- include('./../partials/footer.ejs') %>
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/messages/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then((response) => response.json())
            .then((data) =>window.location.href = data.redirect)
            .catch((err) => {
                console.log(err);
            })
            ;
        });
    </script>
</body>
</html>